---
---

@import "{{ site.theme }}";


.wrapper {
    width:100%;
    margin:0 auto;
}

header {
    width:auto;
    float:none;
    position:static;
    -webkit-font-smoothing:subpixel-antialiased;
}