---
---

@import "{{ site.theme }}";


.wrapper {
    width:auto;
}

header {
    width:auto;
    float:none;
    position:static;
}

section {
    width:auto;
    float:none;
    border: 1px solid #e5e5e5;
}
